tr.trGameLine
{
	width:240;
}

td.tdGameLine
{
	width:80;
	height:80;
}

.tdGameLine:hover
{
	background-color: lavender;
}

div.panel
{
	text-align: center; 
	font-size: 40;
}

img.panelImage
{
	width: 80;
	height: 80;
}
