div#game-bord {
    width: 600px;
    height: 500px;
    border: 1px solid #000000;
    margin-left: 100px;
}

div.cell {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

div.score-bord {
    margin-left: 100px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    width: 200px;
}

div.function-bord {
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    width: 200px;
}

div.victory-bord {
    margin-left: 100px;
    margin-bottom: 10px;
    width: 500px;
}

div.panel{
    margin-left: 20px;
}

td.td-cell {
    width: 62px;
    height: 62px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
button {
    margin-left: 10px;
    margin-bottom: 5px;
}

img.cell {
    width: 50px;
    height: 50px;
}